* {
  font-family: "Roboto", sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@media (max-aspect-ratio: 8/10) {
  .joinContainer {
    width: 96% !important;
    border: 2px solid white;
  }
  .joinContainer > img {
    width: 20vw !important;
  }

  .joinContainer > h1 {
    font-size: 6vw !important;
    width: 55vw !important;
  }
  #joinInput {
    margin: 1rem !important;
    width: 50vw !important;
    font-size: 3vmax !important;
    padding: 3vw !important;
  }
  .joinBtn {
    margin: 1rem;
    padding: 2vw !important;
    font-size: 3vmax !important;
  }

  .chatContainer {
    height: 100% !important;
    width: 100% !important;
  }
  .header {
    height: 10% !important;
  }
  .header > h3 {
    margin: 6vw !important;
    font-size: 6vw !important;
  }
  .header img {
    margin: 6vw !important;

  }

  .chatBox {
    height: 80% !important;
 }

 .inputBox {
    height: 10% !important;
    display: flex;
}

#chatInput {
    font-size: 4vw !important;
}

.messageBox {
    padding: 3vw !important;
    margin: 3vw !important;
    border-radius: 1.5vw !important;
    display: inline-block;
    clear: both;
    font-size: 1.2rem !important;
}
}
